:root {
    --red-insa: #e42418;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* Empeche le scroll */
    overflow: hidden;
}

#insaContainer {
    display: flex;
    height: 10vh;
    background-color: var(--red-insa);
    justify-content: center;
    align-items: center;
}

#insaLogo {
    max-height: 9vh;
}

#theFlex {
    display: flex;
    align-content: flex-start;
    width: 100vw;
    height: 90vh;
    align-items: stretch;
}

#bureauContainer {
    width: 25vw;
    height: 90vh;
}

#sceneContainer {
    width: 75vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sceneContainer canvas {
    display: block; /* Ensure it's a block element */
    max-width: 100%;
    max-height: 100%;
}

#hud {
    position: absolute;
    top: 2vh;
    left: 2vh;
    background-color: rgba(50, 50, 50, 0.6);
    color: white;
    padding: 1vh 2vh;
    border-radius: 2vh;
    font-family: Arial, sans-serif;
    backdrop-filter: blur(1vh);
}

#toggleHUD {
    position: absolute;
    bottom: 4vh;
    left: 4vh;
    background-color: rgba(50, 50, 50, 0.6);
    color: white;
    padding: 1vh;
    border-radius: 1vh;
    font-family: Arial, sans-serif;
    backdrop-filter: blur(1vh);
    display: block;
}

#hudToggleButton {
    margin: 0;
    margin-top: 2px;
    border: none;
    cursor: pointer;
}
  
/* #toggleHUD:hover {
    background: #666;
} */

