:root {
    --red-insa: #e42418;
}

/* Gestion équipes
Equipes :
- samourai
- viking
- inka
- grec

*/

html:not(.main) .home-flex { display: none; }
html.main #info { display: none; }
html:not(.planning) #planning { display: none; }
html:not(.blouse) #blouse { display: none; }
html:not(.guide-ppa) #guide-ppa { display: none; }
html:not(.prevention) #prevention { display: none; }
html.ss-equipe #team { display: none; }
/* html:not(.ss-equipe) #team-logo { display: none; } */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}


.pf-d-bureau-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
    margin: 0;
}

h4 {
    margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#home-flex {
    display: flex;
    align-content: flex-start;
    width: 100vw;
    height: 100vh;
    align-items: stretch;
    flex-direction: row;
}

#bureau-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    position: relative;
}

#bureau-header {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: center;
}

#bureau-header img {
    max-height: 7vh;
    margin-right: 1vw;
    padding: 0.5vh;
    background-color: white;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 84vh;
    margin: 5% 0 5% 0;
}



.menu-item {
    display: flex;
    flex-wrap: nowrap;
    /* border: #000;
    border-radius: 3vh;
    border-style: solid; */
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 85%;
    font-size: 1.6rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.menu-item:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#scene-container {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid;
    border-color: var(--red-insa);
    position: relative;
}

#scene-container canvas {
    display: block; /* Ensure it's a block element */
    max-width: 100%;
    max-height: 100%;
}


#fs-img {
    position: absolute;
    bottom: 2%;
    right: 2%;
    display: none;
}

#team {
    position: absolute;
    top: 2%;
    left: 2%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-border {
    border-style: solid;
    border-color: #fff;
    border-radius: 3px;
}

.team-logo-Dsize {
    height: 100%;
    width: auto;
    padding: 2px;
}

.vikinsize {
    height: 100%;
    width: auto;
}


#info-top {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 5%;
}

.it-logo {
    width: 35%;
    height: auto;
}

#cross-img {
    height: 10%;
    width: auto;
    align-self: center;
}

#junction {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
}

#down-arrow {
    height: 100%;
    width: auto;
}

#info-mid {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url('../medias/Pattern_SA.jpg');
}



@media screen and (orientation: portrait) {
  #home-flex {
    flex-direction: column;
  }
  #bureau-container {
    height: 50%;
    width: 100%;
  }
  #scene-container {
    height: 50%;
    width: 100%;
  }
  #fs-img {
    display: block;
  }
  #info-top {
    flex-direction: column;
  }
  .it-logo {
    height: 35%;
    width: auto;
}
}


.no-show {
    display: none !important;
}
